/* MY PAGE'S CUSTOM STYLE */

/* ROOT AND VARIABLES */

    :root{
        --blk: rgb(0, 0, 0);
        --blu: rgb(5, 5, 146);
        --ylw: rgb(235, 191, 16);
        --wht: rgb(255, 255, 255);
        --red: rgb(255, 35, 35);

    }

/* ---------- CUSTOM DEFAULT PAGES ---------- */

/* CUSTOM BACKGROUND AND TEXT */

    .bkgblk{
        background-color: var(--blk);
    }

     .bkgblu{
        background-color: var(--blu);

    }

     .bkgylw{
        background-color: var(--ylw);

    }

     .bkgwht{
        background-color: var(--wht);
    }

    .txtblk{
        color: var(--blk);
    }

     .txtblu{
        color: var(--blu);
    }

    .txtred{
        color: var(--red);
    }

     .txtylw{
        color: var(--ylw);
    }

     .txtwht{
        color: var(--wht);
    }

    .h1sz{
        font-size: 50px;
    }

/* CUSTOM NAVBAR */

    .navbar.bkgblu .nav-link,
    .navbar.bkgblu .navbar-brand {
        color: var(--ylw) !important;
    }

    .navbar.bkgblu .nav-link:hover,
    .navbar.bkgblu .navbar-brand:hover {
        color: var(--wht) !important;
    }
   
/* CUSTOM HEADER */

   .masthead {
        height: 25vh;
        min-height: 250px;
        background-color: var(--ylw);
    
    }

 
    
